# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
.env

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Flask
instance/
.webassets-cache

# Application specific
credentials/
app/cache/
app/static/annotations/
app/static/clips/
app/static/images/default_logo.png
app/static/images/soccer_field.jpg
upsl-video-api-*.json
google-credentials-temp.json

# Logs
*.log
logs/

# OS specific files
.DS_Store
Thumbs.db
